# Global ignores
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# ML training artifacts
backend/training_data.csv
backend/training_archives/
backend/training_backups/

# ignore other pkl files
backend/*.pkl

# but keep the trained production model
!backend/color_model.pkl
